# httpd.conf
dispatcher.server.root={{ 'apache_dir' }}
dispatcher.apache.user={{ 'web_server_user' }}
dispatcher.apache.group={{ 'web_server_group' }}
dispatcher.apache.server.name={{ disp_item }}
dispatcher.apache.document.root={{ dispatcher_root }}

# common dispatcher configs
dispatcher.document.root={{ dispatcher_root }}
dispatcher.render.host=render_host

# publish dispatcher configs
dispatcher.render.port=aem_instance_port
