# httpd.conf
dispatcher.server.root={{ 'apache_dir' }}
dispatcher.apache.user={{ 'web_server_user' }}
dispatcher.apache.group={{ 'web_server_group' }}
dispatcher.apache.server.name={{ disp_item }}
dispatcher.apache.document.root={{ 'dispatcher_root' }}

# common dispatcher configs
dispatcher.document.root={{ 'dispatcher_root' }}
dispatcher.render.host={% if hostvars[disp_item]['render'] is defined %}{{ hostvars[disp_item]['render'].split(',')[0] }}{% else %}{{ disp_item }}{% endif %}

# publish dispatcher configs
dispatcher.render.port={% if hostvars[disp_item]['render'] is defined %}{{ hostvars[hostvars[disp_item]['render'].split(',')[0]]['aem_instance_port'] }}{% else %}{{ aem_instance_port }}{% endif %}
