<?xml version="1.0" encoding="UTF-8"?>
<repository>
    <data>
        <format>maven2</format>
        <providerRole>org.sonatype.nexus.proxy.repository.Repository</providerRole>
        <exposed>true</exposed>
        <browseable>true</browseable>
        <indexable>true</indexable>
        <id>{{ buildFlowName.project_name|lower() }}</id>
        <name>{{ buildFlowName.project_name }}</name>
        <contentResourceURI>http://{{ nexusServerAddress }}:{{ nexusPort }}/content/repositories/{{ buildFlowName.project_name|lower() }}</contentResourceURI>
        <repoType>hosted</repoType>
        <repoPolicy>RELEASE</repoPolicy>
        <provider>maven2</provider>
    </data>
</repository>
